<h3><i class="fas fa-cubes"></i>Blogs</h3>
<div class="section">
    <p class="lead">Start to create public and private blogs!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login with google
    </a>
</div>